ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    font-size: 24px;
}
body {
    margin: 0;
    font-size: 14px;
}
input, button, body {
    font-family: 'Ubuntu', sans-serif;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { 
    display: none; 
}
:root {
    --main-background:#f2f2f2;
    --main-blue:#34b0da;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    max-width: 100%;
}
.g-container {
    max-width: 1170px;
    margin: 0 auto;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.top-header {
    background-color: var(--main-blue);
}
.top-header__item {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-header__item-content {
    margin: 10px;
    color: var(--main-background);
}
.item-content__text {
    font-weight: bold;
}
.top-header__item-content--butt {
    background:var(--main-background);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    color: #333;
    transition: 0.3s;
}
.top-header__item-content--butt:hover {
    background-color: #fff;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.header{
    background: var(--main-background);
    padding-top: 20px;
    margin: 0 0 30px;
}
.top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-left:  15px;
}
.top-left {
    width: 240px;
    margin-right: 15px;
}
/*----------------------------------------------------------------*/
.top-contacts {
    display: flex;
}
.top-logo {
    padding:0 15px;
}
.top-search 
.top-search__input {
    background: transparent;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px 0  0 3px ;
    text-transform: none;
    float: left;
    width: 490px;
}
[type="search"] {
    outline: none;
}
.top-search__button {
    background: transparent;
    border: none;
    padding: 11px;
    background: var(--main-blue);
    color: #fff;
    border-radius:0 3px  3px 0  ;
    transition-duration: 0.3s;
    width: 80px;
}
.top-search__button:hover {
    background: #333;
    cursor:pointer;
}
.top-phone 
.top-phone__link {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 21px;
    font-weight: normal;
    transition-duration: 0.3s;
}
.top-phone__link:hover {
    color: var(--main-blue);
}
.top-phone__ico {
    font-size: 19px;
    margin-right: 5px;
}
/*----------------------------------------------------------------*/
.top-menu {
    display: flex;
    padding-top: 15px;
    position: relative;
}
.top-menu__categories {
  
    padding: 15px;
    background: var(--main-blue);
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}
.top-menu__sections {
    background: #464646;
    padding: 18px;
    width: 100%;
    border-radius: 4px 0 0  0 ;
}
.sections-element__list {
    display: inline;
}
.sections-element__list-link {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition-duration: 0.3s;
    font-weight: normal;
}
.sections-element__list-link:hover {
    color: var(--main-blue);
}
.sections-link__ico {
    color: var(--main-blue);
    margin-right: 8px;
}
.top-menu__basket {
    display: inline;
    width: 170px;
    background: var(--main-blue);
    padding: 18px;
    justify-content: center;
    border-radius: 0 4px 0 0;
}
.top-menu__basket-link {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.top-menu__basket-link:hover {
    color: rgb(186, 228, 252);
}
.basket-link__ico {
    margin-right: 8px;
}
.shop-list {
    z-index: 1000;
    overflow: hidden;
    min-width: 279px;
    max-height: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: rgb(233, 231, 231);
    box-shadow: 0 5px 3px rgb(196, 195, 195);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.shop-list--active {
    max-height: 500px;
    transition: 3s;
} 
.shop-list__text {
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #2f2f2f;
    padding: 16px;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.main
.main-slider {
    height: 345px;  
    position: relative;
}
.main-slider__item {
    width: 100%;
    height: 100%; 
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-out;
}
.main-slider__item--active {
    opacity: 1;
    z-index: 1;  
}
.slider-item__container {
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.main-slider__header {
    text-transform: uppercase;
    color: var(--main-blue);
    margin: 0 0 7px 0;
    font-size: 30px;
    opacity: 0;
    animation-duration: .8s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
    animation-name: none;
    position: relative;
}
.main-slider__item--active .main-slider__header {
    animation-name: header;
}
@keyframes header {
    0% {top: -20px;}
    5% {top: -19px;}
    10% {top: -18px;}
    15% {top: -17px;}
    20% {top: -16px;}
    25% {top: -15px;}
    30% {top: -14px;}
    35% {top: -13px;}
    40% {top: -12px;}
    45% {top: -11px;}
    50% {top: -10px;}
    55% {top: -9px;}
    60% {top: -8px;}
    65% {top: -7px;}
    70% {top: -6px;}
    75% {top: -5px;}
    80% {top: -4px;}
    85% {top: -3px;}
    90% {top: -2px;}
    95% {top: -1px;}
    100% {top: 0;} 
    from{opacity: 0;}
    to{opacity: 1;}
}
.main-slider__text {
    color: #888888;
    margin: 7px 0;
    font-size: 14px;
    opacity: 0;
    animation-duration: .6s;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    animation-name: none;
    position: relative;
} 
.main-slider__item--active .main-slider__text {
    animation-name: text;
}
@keyframes text {
    0% {bottom: -20px;}
    5% {bottom: -19px;}
    10% {bottom: -18px;}
    15% {bottom: -17px;}
    20% {bottom: -16px;}
    25% {bottom: -15px;}
    30% {bottom: -14px;}
    35% {bottom: -13px;}
    40% {bottom: -12px;}
    45% {bottom: -11px;}
    50% {bottom: -10px;}
    55% {bottom: -9px;}
    60% {bottom: -8px;}
    65% {bottom: -7px;}
    70% {bottom: -6px;}
    75% {bottom: -5px;}
    80% {bottom: -4px;}
    85% {bottom: -3px;}
    90% {bottom: -2px;}
    95% {bottom: -1px;}
    100% {bottom: 0;} 
    from{opacity: 0;}
    to{opacity: 1;}
}
.main-slider__link {
    background: #464646;
    padding: 12px 7px ;
    width: 126px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    transition: 0.3s;
    opacity: 0;
    animation-duration: .7s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
    animation-name: none;
    position: relative;
}
.main-slider__link:hover {
    background-color: var(--main-blue);
}
.main-slider__item--active .main-slider__link {
    animation-name: link;
}
@keyframes link {
    0% {bottom: -20px;}
    5% {bottom: -19px;}
    10% {bottom: -18px;}
    15% {bottom: -17px;}
    20% {bottom: -16px;}
    25% {bottom: -15px;}
    30% {bottom: -14px;}
    35% {bottom: -13px;}
    40% {bottom: -12px;}
    45% {bottom: -11px;}
    50% {bottom: -10px;}
    55% {bottom: -9px;}
    60% {bottom: -8px;}
    65% {bottom: -7px;}
    70% {bottom: -6px;}
    75% {bottom: -5px;}
    80% {bottom: -4px;}
    85% {bottom: -3px;}
    90% {bottom: -2px;}
    95% {bottom: -1px;}
    100% {bottom: 0;} 
    from{opacity: 0;}
    to{opacity: 1;}
}
.slider-button {
   position: absolute;
   right: 13px;
   bottom: 10px;
   z-index: 1;
}
.slider-button__left {
    color: rgb(175, 175, 175);
    transition: .3s;
}
.slider-button__right {
    color: rgb(175, 175, 175);
    transition: .3s;
}
.slider-button__left:hover{
    color: var(--main-blue);
}
.slider-button__right:hover{
    color: var(--main-blue);
}
/*----------------------------------------------------------------*/
.main-stock {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.main-stock__container {
    padding:0 20px ;
}
.main-stock__item {
    background-size: cover;
    width: 370px;
    height: 227px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: #000;
}
.main-stock__item:hover {
    box-shadow: inset 0 0 0 5px #aee1f1;
}
.header-color::first-line {
    font-size: 24px;
    font-weight: 900;
    color: var(--main-blue);
}
.main-stock__link {
    display: block;
    margin: 20px 0;
    color: #000000;
    transition: 0.3s;
}
.main-stock__link:hover {
    color: var(--main-blue);
}
.main-stock__item-text {
    background-color: var(--main-blue);
    width: 370px;
    height: 227px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.main-stock__item-text:hover {
    box-shadow: inset 0 0 0 5px #aee1f1;
}
.medium {
    font-weight: 400;
}

/*----------------------------------------------------------------*/
.main-navline {
    background-color: var(--main-background);
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
    margin-bottom : 30px;
}
.main-navline__item
.navline-item__link {
    font-size: 14px;
    text-decoration:none ;
    color: rgb(175, 175, 175);
    transition: 0.3s;
}
.navline-item__link:hover {
    color: var(--main-blue);
}
/*----------------------------------------------------------------*/
.main-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.main-product__item {
    width: 370px;
    height: 512px;
    border: 1px solid #c7c7c7;
    position: relative;
   
}
.item-new {
    font-size: 12px;
    background-color: #817f7f;
    color: #fff;
    padding: 3px 6px;
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: -6px;
}
.item-new:before {
    position: absolute;
    content: '\25BE';
    font-family: material-design;
    bottom: -15px;
    left: 9px;
    right: 0;
    font-size: 21px;
    display: inline-block;
    color: #817f7f;
}
.item-sale {
    font-size: 12px;
    background-color: var(--main-blue);
    color: #fff;
    padding: 3px 6px;
    z-index: 1;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: -6px;
}
.item-sale::before {
    position: absolute;
    content: '\25BE';
    font-family: material-design;
    bottom: -15px;
    left: 7px;
    right: 0;
    font-size: 21px;
    display: inline-block;
    color: var(--main-blue);
}
.product-item__img {
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.product-item__img:hover {
    cursor: pointer;
}
.product-item__info {
    margin:20px;
}
.product-item__header {
    font-size: 19px;
    color: var(--main-blue);
    margin: 11px 0 0;
}
.product-item__text {
    font-size: 13px;
    color: #2f2f2f;
    margin: 7px 0;
    transition: 0.3s;
}
.product-item__text:hover {
    color: var(--main-blue);
}
.product-item__text--color {
    font-size: 12px;
    color: #888888;
}
.product-item__navigation {
    margin: 13px 0 6px 0;
}
.item-navigation__ico {
    margin-right: 7px;
    padding: 10px;
    color: #333;
    background-color: #f2f2f2;
    border-radius: 50%;
    transition: 0.3s;
}
.item-navigation__ico:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.item-navigation__ico--color {
    background-color: var(--main-blue);
    color: #fff;
}
.item-navigation__star {
    color: var(--main-blue);

}
/*----------------------------------------------------------------*/
.img-upgrade {
    margin: 0 0 30px 0;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.under {
    background-color: #464646;
    margin-top: auto; 
    padding-top: 27px;
}
.under-flex {
    display: flex;
    justify-content: space-between;
}
.under-item {
   padding: 0 15px;
}
.under-item__header {
   color: #fff;
   font-size: 13px;
   margin-bottom: 9px;
   font-weight: normal;
}
.under-item__list {
    margin-bottom: 7px;
}
.under-item__link {
    text-decoration: none;
    color: var(--main-blue);
    transition: 0.3s;
    font-size: 12px;
}
.under-item__link:hover {
    color: #fff;
}
.under-author {
    font-size: 12px;
    color: #fff;
    padding: 12px 15px 31px;
}
.under-author::before {
    display: block;
    content: '';
    width: auto;
    height: 1px;
    background:rgba(255, 255, 255, 0.5) ;
    margin-bottom: 12px;
}
.under-author__link {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.under-author__link:hover {
    color: #7a7a7a;
}





